@model CampBg.Web.Areas.Orders.ViewModels.CartViewModel

@using Resource = CampBg.Web.Localization.Views;

<div class="col-lg-12">
        <table class="table table-bordered table-striped margin-top-small">
            @Html.DisplayFor(x => x.Items)
        </table>
        <h4>@Resource.Total: @Model.Total @Resource.Currency.</h4>
    </div>
