@model CampBg.Web.Areas.Products.ViewModels.FilterPageViewModel

@using Resource = CampBg.Web.Localization.Views;

@{
    ViewBag.Title = string.Format(Resource.Products_by, ViewBag.Category);
}

<div class="row">
    <ol class="col-lg-12 breadcrumb margin-top-small">
        <li>@Html.ActionLink(Resource.Name, "Index", new { area = string.Empty, controller = "Home" })</li>
        <li class="active">
            @string.Format("{0}", ViewBag.Category)
        </li>
    </ol>
</div>

<div class="row">
    @Html.Partial("Filters", Model.Filters)

    <div class="col-lg-9">
        <div id="filter-results">
            @Html.Partial("FilterResultsPartial", Model.InitialProducts)
        </div>
    </div>
</div>