@using CampBg.Web.Areas.Administration.ViewModels

@{
    ViewBag.Title = "Subcategory Options";
}

<h2>@ViewBag.Title</h2>

@* ReSharper disable ConvertToLambdaExpression *@
@(Html.Kendo()
        .Grid<SubcategoryOptionViewModel>()
        .Name("SubcategoriesGrid")
        .Columns(col =>
        {
            col.Bound(x => x.Id);
            col.Bound(x => x.Name);
            col.Bound(x => x.NameEn);
            col.ForeignKey(x => x.SubcategoryId, (IEnumerable<SubcategoryViewModel>)ViewBag.Subcategories, "Id", "Name");
            col.Command(x =>
            {
                x.Edit();
                x.Destroy();
            });
        })
        .ToolBar(toolbar =>
        {
            toolbar.Create();
            toolbar.Custom()
                .Action("Index", "Home")
                .Text("Back to administration");
        })
        .Editable(edit =>
        {
            edit.Mode(GridEditMode.PopUp);
        })
        .Filterable(filter =>
            {
                filter.Enabled(true);
            })
        .Sortable(sort =>
            {
                sort.Enabled(true);
            })
        .Pageable(page =>
            {
                page.Refresh(true);
            })
        .DataSource(data =>
        {
            data.Ajax()
                .PageSize(15)
                .Model(x => x.Id(model => model.Id))
                .Read("Read", "SubcategoryOptions")
                .Create("Create", "SubcategoryOptions")
                .Destroy("Destroy", "SubcategoryOptions")
                .Update("Update", "SubcategoryOptions");
        }))
@* ReSharper restore ConvertToLambdaExpression *@
