@using Resource = CampBg.Web.Localization.Views

@{
    ViewBag.Title = Resource.Forgotten_password;
}

<div class="row">
    <ol class="col-lg-12 breadcrumb margin-top-small">
        <li>@Html.ActionLink(Resource.Home, "Index", new { area = string.Empty, controller = "Home" })</li>
        <li class="active">
            @string.Format("{0}", ViewBag.Title)
        </li>
    </ol>
</div>

@Resource.Forgotten_password_token_sent